<Configuration monitorInterval="30" verbose="true">
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="org.eclipse" level="warn"/>
    <Logger name="io.ebean.SQL" level="debug"/>
    <Logger name="io.ebean.TXN" level="debug"/>
    <Logger name="io.ebean.docker" level="trace"/>

    <Logger name="io.avaje" level="trace"/>

    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>
